<div class="container">
    <Button style="float: right;" class="btn" (click)="back()"><i class="fas fa-arrow-left fa-2x"></i></Button>
    <div class="row justify-content-center align-items-center" style="margin-top: 10rem;">
      <div class="col-6" style="text-align: center;">
        <h4>Personas</h4>
        <img style="width: 20rem;cursor: pointer;" src="../../../assets/personas.png" (click)="IrPersonas()"/>
      </div>
      <div class="col-6" style="text-align: center;">
        <h4>Reportes</h4>
        <img style="width: 20rem;cursor: pointer;" src="../../../assets/reportes.png" (click)="IrReportes()"/>
      </div>
    </div>
  </div>